$border: 1px solid #000;
$red: #d93738;
$yellow: #f8e71c;
$white: #fff;
$margin: calc(9% / 6);

.single-business {
  background-color: #282828;
  border: $border;
  display: flex;
  flex-direction: column;
  height: 22.1875em;
  margin: $margin;
  width: 13.25em;
  cursor: pointer;
}

.image-container {
  display: flex;
  height: 13.25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.business-score {
  color: $red;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0.5em;
  margin: 0;

}

.business-name {
  display: block;
  color: $yellow;
  font-size: 1.375em;
  height: 1.6875em;
}

.business-title {
  color: $white;
  font-size: .875em;
  height: 1.0625em;
  padding-left: 0.3em;
}

.business-description {
  -webkit-box-orient: vertical;
  color: #adafb2;
  display: -webkit-box !important;
  font-size: .75em;
  height: 1.9em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  word-break: break-word;
  word-wrap: break-word;
}

.business-infor {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.business-keywords {
  color: #adafb2;
  font-size: 12px;
  height: .875em;
  padding-left: 0.1em;
}

.business-more {
  color: $yellow;
  font-size: .75em;
  height: .875em;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 0.1em;
}

.hideBusinessName {
  display: none;
}