.display-image{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}

.slot{
  width: 31%;
  height: 15.625em;
}

.two{
  width: 35%;
  height: 16em;
}