$deeperRed:#bd1f1f;
$borderColor:#e6e6e6;
$homePageHeaderHeight: 3.4em;
$businessOverViewHeight: calc(100vh - 101px - 3.4em);
$theme-color: (
  defaultRed: (
    backgroundColor: transparent,
    headerColor: $deeperRed,     
    textColor: #000,
    border: 1px solid #e6e6e6
  ),
  dark:(
    backgroundColor: transparent,
    headerColor: linear-gradient(0deg, #4b4b4b 30%, #000),
    textColor: #fff,
    borderColor: 1px solid #000
  )
);