.HomePageHeader{
  background: linear-gradient(0deg, #4b4b4b 30%, #000000);
  width: 100%;
  height: 77px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.search{
  width: 350px;
  height: 35px;
  padding:6px 15px 6px 30px;
  margin:3px;
  background: url('./search.png') no-repeat 8px 6px;
  background-size: 20px 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.menu{
  border: none;
  width: 50px;
  height: 50px;
  transform: scale(0.7);
  background: url('./align_text_left.png') no-repeat center;
}