.home-page-header {
  background: linear-gradient(0deg, #4b4b4b 30%, #000);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;  
  justify-content: flex-start;
  height: 4.8125em;
  width: 100%;
 
}

.search {
  background-color: #FFFFFF;
  margin: 0.1875em 0em 0em 3.125em;
  height: 2.1875em;   
  width: 21.875em;
  background: url('./search.png') no-repeat 0.2em 0.1em;  
  padding: 0.375em 0.9375em 0.375em 1.875em;
  background-size: 1.75em 1.75em;
  border-radius: 0.9375em;
  outline: none;
}

.menu {
  background: url('./align_text_left.png') no-repeat center;  
  border: none;
  width: 3.125em;
  height: 3.125em;
  transform: scale(0.5);
}