$mapWidth: 45%;
$containerWidth: 55%;
$testHeight: 1035px;

.HomePage {
  width: 100%;
}

.Main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: $testHeight;
}

.HomePageContainer{
  order: 0;
  flex-basis: $containerWidth;
}

.HomePageMap{
  order: 1;
  flex-basis: $mapWidth;
  width: $mapWidth;
  height: $testHeight;
}
