$map-width: 35%;

.home-page {
  background-color: #fff;
  display: flex;
  height: 100vh;

  .home-page-main {
    height: 100vh;
    flex: 3;
  }

  .google-map-component {
    height: 100vh;
    flex: 2;
  }
}

.ant-notification-notice-close-x::after {
  content: 'Close';
}
