$mapWidth: 45%;
$containerWidth: 55%;
$testHeight: 64.6875em;
body{
  margin: 0;
}

.home-page {
  width: 100%;
}

.main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.home-page-container{
  order: 0;
  flex-basis: $containerWidth;
  background-color: #4B4B4B;
  
}

.home-page-map{
  order: 1;
  flex-basis: $mapWidth;
  width: $mapWidth;
  height: 55.6875em;  
}
