.display-business {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  .home-page-map{
    max-height: 15.625em;
    overflow: scroll;
    display: block;
    width: 100%;
    flex-basis: 20%;
    align-self: center;

  }
  .display-image{
    flex-basis: 60%;
    align-self: center;
  }
}


