.comment-list-container {
  padding-top: 1em; 
  h2 {
    margin: 0;
  }
  .comment-list-title {
    padding: 0 1em;
  }
  .comment-list {
    padding: 1em 5em;
  }
}
.comment-list-container-red-theme {
  background: #fff;
}
.comment-list-container-dark-theme {
  background: transparent;
}
